body {
    background: rgb(156, 156, 158);
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto
}

nav {
    position: absolute;
    top: 110px;
    right: 0px
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(247, 235, 71);
    text-decoration: underline;
}

.Titulo-principal {
    font-size:  50px;
    text-align: center;
    font-weight: bold;
    padding: 20px
}

.Titulo-centralizado {
    padding: 10px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

#Imagem {
    padding-left: 130px; 
    width: 80%
}

div p {
    margin:5px;
    font-style:inherit;
    font-size: 25px;
    text-align: center;
}

#Missao {
    font-size: 35px
}

em strong {
    color: rgb(184, 3, 3, 0.637)
}

.beneficios {
    padding: 15px
}

.Lista-itens {
    display:inline-block;
    vertical-align:top;
    margin-right: 2%;
    padding-right: 15px
}

.Itens {
    font-size: 25px;
    font-style:italic;
    font-weight: bolder;
    color: rgb(7, 114, 39)
}

#IMGbeneficios {
    width: 70%
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 30px;
}

.copyright {
    color: honeydew;
    font-weight: bold;
    font-size: 13px;
    margin: 15px 0 0;
}